/dist/
/Counter.app/
/Counter
/TwoCounters.app/
/TwoCounters
/Asteroids.app/
/CurrencyConverter.app/
/Wave.app/
/Wave
/NetMonitor.app/
/NetMonitor
/CRUD.app/
/Asteroids
/CRUD
/CurrencyConverter
/TicTacToe
/TicTacToe.app/
